@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background-color: #2b0504;
    
}

/*MAIN */

.imagem-login {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 45px;
    opacity: 0.8;
}

.seta-login {
    width: 70px;
    margin-left: 30px;
    margin-top: 10px;
    position: absolute;
}


.pagina-secundaria {
    margin-top: 80px;
    width: 30%;
    background-color: #f0ecec;
    opacity: unset;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
    border-radius: 60px;
    box-shadow: 7px 3px 3px #000000;
    border: black solid 1px;
}


.pagina-secundaria-login {
    font-size: 35px;
    font-weight: bolder;
    color: #2e1907;
    text-shadow: 0 0 3px #470906;
    font-family: 'Sarala', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pagina-secundaria-campo {
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.pagina-secundaria-texto-input {
    margin-bottom: 15px;
    font-weight: 600;
    color: #2b0504;
    text-shadow: 0 0 1px #3b3b3b;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 7px;
}

.pagina-secundaria-input-campo {
    all: unset;
    width: 100%;
    margin-top: 7px;
    font-size: 15px;
    font-style: italic;
    height: 5vh;
    border-bottom: 0.4vh solid #2b0504;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
}


.pagina-secundaria-input-campo:hover {
    border-bottom: 2px solid #724623;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}



.pagina-secundaria-botao {
    all: unset;
    color: #f0ecec;
    font-weight: bolder;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 40px;
    background-color: #724623;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 20px;
}

.pagina-secundaria-botao:hover {
    background-color: rgba(119, 71, 31, 0.53);
}